#resources {
    display: flex;
    flex-direction: column;

}

#resources .p {
    justify-self: center;
}

.collapsible {
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 5px;
    overflow: hidden;
}

.collapsible-category {
    font-size: 1.2rem;
    background-color: #f5f5f5;
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
}

.collapsible-category:hover {
    background-color: #e0e0e0;
}

.collapsible-content {
    max-height: 0; /* default to hidden */
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* for smooth animation */
    padding: 0 1rem; 
}

.collapsible-content ul li {
    padding: 0.5rem 0;
}

.collapsible-content ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: #003e74;
}

.collapsible-content ul li p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.collapsible-content.expanded {
    max-height: 500px; 
    transition: max-height 0.3s ease-in; /* for smooth animation */
}


@media screen and (max-width: 1023px) {
    body{
        margin: 0 0.5rem;
    }
    .title-block {
        margin: 1rem;
    }
    .collapsible-content ul {
        list-style-type: none;
        padding: 0;
    }
}